# Ignore Python bytecode files
__pycache__/

# Ignore the virtual environment directory
venv/

# Ignore database files
*.sqlite3
db.sqlite3

# Ignore media and user-uploaded files
media/

# Ignore static files
static/

# Ignore sensitive or secret configuration files
*.env

# Ignore log files
*.log

# Ignore temporary files and directories
*.swp
*.swo
*.swn
*.swm
*.bak
*.~

# Ignore secret key settings file
secret_key.py

# Ignore IDE-specific files
.vscode/
.idea/
*.pyc
*.pyo

# Ignore local development settings
local_settings.py
